.ipynb_checkpoints
__pycache__/
projects/finding_donors/finding_donors.html
projects/finding_donors/finding_donors.zip
projects/customer_segments/customer_segment.zip
projects/customer_segments/report.html
