.ipynb_checkpoints
__pycache__/
projects/finding_donors/finding_donors.html
projects/finding_donors/finding_donors.zip
projects/customer_segments/customer_segment.zip
projects/customer_segments/report.html
extracurricular/
lesson10/
lesson13/
lesson14/
lesson15/
lesson16/
lesson17/
lesson18/
lesson20-project/
lesson21/
lesson23/
lesson24/
lesson25/
lesson26-PCA/
lesson28/
lesson8/
lesson9/
